<app-sub-nav-bar [subTitle]="subTitle"></app-sub-nav-bar>

<div class="container">
  <div class="light_container">
    <h1>Etats des lumières dans les pièces de la maison
      <p></p>
    </h1>
    <div class="container_switch">
      <app-lights-switcher></app-lights-switcher>
    </div>
  </div>
  <div>
    <h1>Gestion de l'alarme
      <p></p>
    </h1>
    <app-alarm-setting></app-alarm-setting>
  </div>
  <app-smart-light></app-smart-light>
  <div style="margin-bottom: 10%;"></div>
</div>
