.example-form {
  width: 5em;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.img {
  width: 150px;
  background-size: cover;
  margin-left: 1em;
}

.select {
  padding-left: 250px;
}

.error {
  font-size: 10px;
  padding-left: 300px;
  color: red;
  font-weight: bold;
}

.header-image {
  background-size: cover;
}

.selectAvatar {
  overflow-y: scroll;
  width: 70%;
  height: 150px;
  float: right;
}

.modal-container {
  background-color: rgba(80, 91, 245, 0.1);
  margin: 1em;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.modal-header {
  background-color: rgba(84, 28, 138, 0.514);
  text-align: center;
}

.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.font-p {
  color: #5F5F5F;
}

@media(max-width: 593px) {
  .selectAvatar {
    width: 100%;
    float: none;
  }
}
