ul{
	list-style-type: none;
	padding: 0 20px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.50) !important;
}

.mat-raised-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0px;
  min-width: 50px;
  line-height: 35px;
  padding: 0px 15px;
  border-radius: 2px;
  transform: translate3d(0, 0, 0);
}

.text-inside-grid {
  position: absolute;
  left: 5%;
}

.card {
  display: block;
  position: relative;
  padding: 0px;
  border-radius: 2px;
  background-color: rgba(47, 24, 68, 0.151);
  width: 100%;
  font-style: normal;
  margin-left: 1%;
}

.mat-card {
  background: #EDEEFE;
  color: rgba(0, 0, 0, .87);
}
